################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SecurityMVC
/packages
/SecurityMVC/bin
/SecurityMVC/obj
