 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="@Url.Action("Login", "Home")" method="post">
        <div>
            <div>
                <input type="text" name="NickName" value="" placeholder="UserName" />
            </div>
            <div>
                <input type="text" name="Password" value="" placeholder="Password" />
            </div>
            <div>
                <input type="submit" name="name" value="Ingresar" />
            </div>
        </div>
    </form>
    <div style="color: red">
        <h3>@ViewBag.Error</h3>
    </div>
</body>
</html>
