
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrincipalPage</title>
</head>
<body>
    <div>
        <a href="@Url.Action("LogOut", "Home")"> Salir </a>
    </div>
    <div> 
        <h1> Welcome to Security App 1.0 </h1>
    </div>
</body>
</html>
